* {
    margin: 0;
    padding: 0;
}
.menuContainer {
    position: absolute;
    height: 200px;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    font-size: 12px;
    font-weight: bolder;
}
.menuTitle {
    display: flex;
    align-items: center;
    font-size: 28px;
    display: none;
}
.navbar {
    left: 20px;
    top: 30px;
    position: absolute;
}
.navbar-nav > li {
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 3px;
}
.headerMiddleSectionContainer {
    display: flex;
    height: 700px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centerMiddleFirstSection {
    width: 100%;
    display: flex;
    justify-content: center;
}
.centerMiddleSecondSection {
    width: 100%;
    display: flex;
    justify-content: center;
}
.centerMiddleFirstSection h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    width: 80%;
}
.centerMiddleSecondSection h3 {
    font-size: 15px;
    text-align: center;
    width: 90%;
    margin-top: 25px;
}
.header {
    width: auto;
    background-image: url("./assets/header3.png");
    height: 105vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}

.headerSideTitle {
    margin-left: 80px;
}
.headerMenu {
    margin-right: 80px;
}
.rounded-pill {
    margin-top: 40px;
    padding: 1.9vh 2.3vw;
    font-size: 1vh;
    letter-spacing: 5px;
}
.projectsInfoGlass {
    width: auto;
    background-image: url("./assets/rectangle.png");
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.projectsInfoPlant {
    width: auto;
    background-image: url("./assets/Plant.png");
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.projectsInfoFlowerOne {
    width: auto;
    background-image: url("./assets/FlowerOne.png");
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.projectsInfoFlowerTwo {
    width: auto;
    background-image: url("./assets/FlowerTwo.png");
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.projectsInfoText {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.projectsInfoText h2 {
    font-weight: 300;
    font-size: 30px;
}
.projectsInfoText p {
    font-weight: 300;
    font-size: 16px;
}

.paragraphSection {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
}
.paragraphSection h2 {
    font-weight: 300;
}
.paragraphSection p {
    font-weight: 300;
    text-align: center;
}

.iconContainer {
    width: 88px;
    height: 88px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.imageIcon {
    height: 32px;
}
.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 374px;
}
.squaresSectionFirst {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 20px 0 20px;
}
.squaresSectionSecond {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0px 20px 60px 20px;
}
.square {
    margin-bottom: 40px;
    padding: 20px;
    height: 350px;
}
.square h2 {
    font-weight: 400;
    margin-top: 20px;
    font-size: 18px;
}
.square p {
    margin-top: 20px;
    font-size: 16px;
}
.videoSection {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("./assets/video.png");
    height: 480px;
    background-repeat: no-repeat;
    background-size: 900px;
    padding: 40px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.videoSection h2 {
    margin-top: 50px;
}
.videoSection p {
    margin-top: 5px;
}
footer {
    width: 100%;
    height: 140px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media queries //////////////////////////////////// */

@media only screen and (min-width: 576px) {
    .centerMiddleFirstSection h1 {
        font-size: 60px;
        display: flex;
        justify-content: center;
        width: 70%;
    }
    .centerMiddleSecondSection h3 {
        font-size: 15px;
        text-align: center;
        width: 60%;
        margin-top: 25px;
    }
    .projectsInfoGlass {
        height: 300px;
    }
    .projectsInfoPlant {
        height: 300px;
    }
    .projectsInfoFlowerOne {
        height: 300px;
    }
    .projectsInfoFlowerTwo {
        height: 601px;
    }
    .square p {
        margin-top: 20px;
        font-size: 16px;
        padding: 0 90px 0 90px;
    }
    .squaresSectionFirst {
        padding: 0px 80px 0px 80px;
    }
    .squaresSectionSecond {
        padding: 0px 80px 80px 80px;
    }
}

@media only screen and (min-width: 768px) {
    .rounded-pill {
        margin-top: 40px;
        padding: 2.2vh 2.3vw;
        font-size: 1vh;
        letter-spacing: 5px;
    }
    .projectsInfoGlass {
        height: 550px;
    }
    .projectsInfoPlant {
        height: 550px;
    }
    .projectsInfoFlowerOne {
        height: 550px;
    }
    .projectsInfoFlowerTwo {
        height: 550px;
    }
    .projectsInfoText {
        padding: 40px;
    }
    .projectsInfoText h2 {
        font-weight: 300;
        font-size: 50px;
    }
    .projectsInfoText p {
        font-weight: 300;
        font-size: 16px;
    }
    .projectsInfoText button {
        align-self: flex-start;
    }
    .squaresSectionFirst {
        padding: 0px;
    }
    .squaresSectionSecond {
        padding: 40px 0 80px 0;
    }
    .square {
        margin-bottom: 0px;
        padding: 0px;
    }
    .square h2 {
        font-weight: 400;
        margin-top: 20px;
        font-size: 18px;
    }
    .square p {
        margin-top: 20px;
        font-size: 16px;
        padding: 0 5px 0 5px;
    }
    .videoSection {
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width: 992px) {
    .rounded-pill {
        margin-top: 40px;
        padding: 2.2vh 2.3vw;
        font-size: 14px;
        letter-spacing: 5px;
    }
    .centerMiddleFirstSection h1 {
        font-size: 8vw;
        display: flex;
        justify-content: center;
        width: 70%;
    }
    .centerMiddleSecondSection h3 {
        font-size: 1.5vw;
        text-align: center;
        width: 70%;
        margin-top: 25px;
    }
    .projectsInfoGlass {
        height: 550px;
    }
    .projectsInfoPlant {
        height: 550px;
    }
    .projectsInfoFlowerOne {
        height: 550px;
    }
    .projectsInfoFlowerTwo {
        height: 550px;
    }
    .projectsInfoText {
        padding: 60px;
    }
    .square p {
        margin-top: 20px;
        font-size: 16px;
        padding: 0 50px 0 50px;
    }
    .videoSection {
        width: 100%;
        height: 601px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .menuTitle {
        display: flex;
        align-items: center;
        font-size: 28px;
    }
    .navbar {
        position: static;
    }
}

@media only screen and (min-width: 1200px) {
    .rounded-pill {
        margin-top: 40px;
        padding: 25px 48px;
        font-size: 14px;
        letter-spacing: 5px;
    }
    .centerMiddleFirstSection h1 {
        font-size: 100px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .centerMiddleSecondSection h3 {
        font-size: 18px;
        text-align: center;
        width: 65%;
        margin-top: 25px;
    }
    .projectsInfoGlass {
        height: 601px;
    }
    .projectsInfoPlant {
        height: 601px;
    }
    .projectsInfoFlowerOne {
        height: 601px;
    }
    .projectsInfoFlowerTwo {
        height: 601px;
    }
    .square p {
        margin-top: 20px;
        font-size: 16px;
        padding: 0 80px 0 80px;
    }
    .videoSection {
        width: 100%;
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 40px;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
